@font-face {
    font-family: "Vercetti";
    src: url("../fonts/Vercetti/Vercetti-Regular.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Commit Mono";
    src: url('../fonts/CommitMono/CommitMono\ VariableFont.woff2') format('woff2 supports variations');
    font-feature-settings: "'ss03' on, 'ss04' on, 'ss05' on";
    font-display: swap;
}

:root {
    --font: "Vercetti", serif;
    --font-mono: "Commit Mono", monospace;
    --primary-color: #FFB3C1;
    --secondary-color: #FFF;
    --tertiary-color: #7F848E;
    --background-color: #101010;
    --spotify-color: #99FFE4;
}

@media screen and (max-width: 1030px) {
    body {
        margin: 3% 5% 0 !important;
    }

    .banner p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: -4% -50% 0 !important;
    }

    .blog-page,
    .main-column.tag-page {
        margin: 3% 5% 0 0 !important;
        gap: 0 !important;
        flex: 100% !important;
        flex-direction: column !important;
    }

    h1 {
        font-size: 2em !important;
        max-width: min-content !important;
    }
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    margin: 3% 25% 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    vertical-align: middle !important;
    font-size: 1.5rem;
    font-family: var(--font);
}

blockquote {
    color: var(--tertiary-color);
    font-style: italic;
    margin: 0;
}

h1 {
    /* font-size: 4rem; */
    font-weight: 900;
}

h2 {
    /* font-size: 2rem; */
    font-weight: 600;
    /* font-family: "Excon Bold", "Open Sans", sans-serif !important; */
}

:is(h1, h2, h3, h4, h5, h6) {
    color: var(--primary-color) !important;
    font-family: var(--font-mono);
}

hr {
    width: 100%;
    border: 1px solid var(--tertiary-color);
}

.webring,
.webring a,
.webring {
    font-size: 24px !important;
    color: var(--tertiary-color) !important;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

a {
    color: var(--primary-color) !important;
    text-decoration: none;
    padding: 0.1rem 0.2rem;
    font-weight: 500;
    font-family: var(--font-mono) !important;
}

a:hover {
    color: var(--secondary-color) !important;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: wavy;
    -webkit-text-decoration-style: wavy;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile .body {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0;
    padding: 0;
}

.profile :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.profile .body span .item {
    margin: 0;
    color: var(--secondary-color) !important;
}

.linkback {
    color: var(--tertiary-color) !important;
    font-weight: 400 !important;
    font-style: italic !important;
    font-family: var(--font-mono) !important;
}

p {
    margin-bottom: 5px;
}

.label {
    font-style: italic;
    color: var(--tertiary-color) !important;
    font-weight: 600 !important;
    /* font-size: 1.5rem; */
}

.date {
    color: var(--tertiary-color);
    font-family: var(--font-mono);
    display: inline
}


.banner p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -6% -50% 0;
    color: var(--background-color);
    background-color: var(--primary-color);
    font-family: InterVariable, sans-serif;
    font-weight: bold;
    padding: 1em;
}

.metadata {
    /*font-size: 1rem;*/
    color: var(--primary-color);
    line-height: 0.5rem;
    font-family: var(--font-mono);
}

footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 2em 0 1em 0;
    font-size: 1.5rem;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

footer span {
    display: inline;

    * {
        padding: 0 !important;
    }
}

.socials {
    line-height: 0.5rem;
}

a.linkback:hover {
    color: inherit !important;
    background-color: var(--background-color);
}

.metafields>.items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5em;
}

.blog-page {
    display: flex;
    gap: 1em;
}

.blog-page>.main-column {
    flex: 0 0 70%;
}

.container {
    text-wrap: nowrap;
}