@font-face {
    font-family: "Vercetti";
    src: url("../fonts/Vercetti-Regular.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Commit Mono";
    src: url('../fonts/CommitMono\ VariableFont.woff2') format('woff2 supports variations');
    font-feature-settings: "'ss03' on, 'ss04' on, 'ss05' on";
    font-display: swap;
}

:root {
    --font: -apple-system, "Vercetti", serif;
    --font-mono: "Osaka-Mono", "Commit Mono", monospace;
    --primary-color: var(--arc-palette-foregroundSecondary, #fcbbce);
    --secondary-color: var(--arc-palette-title, #fce9e9);
    --tertiary-color: var(--arc-palette-subtitle, #8e7f87);
    --background-color: var(--arc-palette-background, #101010);
    --spotify-color: var(--arc-palette-maxContrastColor, #7BE17D);
    --warning-color: var(--arc-background-simple-color, #ffd862);
}

@media screen and (max-width: 1030px) {
    body {
        margin: 3% 5% 0 !important;
    }

    .banner p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: -4% -50% 0 !important;
    }

    .blog-page,
    .main-column.tag-page {
        margin: 3% 5% 0 0 !important;
        gap: 0 !important;
        flex: 100% !important;
        flex-direction: column !important;
    }

    h1 {
        font-size: 2em !important;
        max-width: min-content !important;
    }

    .container {
        display: flex !important;
        flex-direction: column !important;
    }
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    margin: 3% 25% 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    vertical-align: middle !important;
    font-size: 1.5rem;
    font-family: var(--font);
}

blockquote {
    color: var(--tertiary-color);
    font-style: italic;
    margin: 0;
}

h1 {
    /* font-size: 4rem; */
    font-weight: 900;
}

h2 {
    /* font-size: 2rem; */
    font-weight: 700;
    /* font-family: "Excon Bold", "Open Sans", sans-serif !important; */
}

h3 {
    /* font-size: 1.5rem; */
    font-weight: 500;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: var(--primary-color) !important;
    font-family: var(--font-mono);
}

hr {
    width: 100%;
    border: 1px solid var(--tertiary-color);
}

.webring,
.webring a,
.webring {
    font-size: 24px !important;
    color: var(--tertiary-color) !important;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* div.post {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 1em;
} */

.pill:hover,
.pill.highlighted {
    background-color: var(--primary-color) !important;
    color: var(--background-color) !important;

    a {
        color: var(--background-color) !important;
    }
}

.mentions-section {
    margin-top: 1rem;
    border-top: 1px solid var(--tertiary-color);
}

.profile.mention {
    padding: 1rem 0;
    border-bottom: 1px solid var(--tertiary-color);
}

.profile.mention:last-child {
    margin-bottom: 0;
}

.profile.mention .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    /* Reduce this value to bring elements closer together */
}

.profile.mention .body span {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.profile.mention .body p {
    margin: 0;
    padding: 0;
}

.profile.mention .body {
    width: 100%;
}

.pill {
    /* background-color: var(--primary-color) !important; */
    color: var(--primary-color) !important;
    padding: 0.2em 0.5em !important;
    border-radius: 30px !important;
    display: inline-block !important;
    width: fit-content !important;

    border: 2px solid var(--primary-color) !important;
    text-decoration: none !important;
    cursor: auto;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    font-family: var(--font-mono) !important;
}

a:hover {
    color: var(--secondary-color) !important;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: wavy;
    -webkit-text-decoration-style: wavy;
}

.post-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.post-header :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
}

.post-header p {
    margin: 0;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile .body {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0;
    padding: 0;
}

.profile :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding: 0;
    line-height: 1.5 !important;
}

.profile p {
    font-size: 1.5rem !important;
}

.profile .body span .item {
    margin: 0;
    color: var(--secondary-color) !important;
}

.linkback {
    color: var(--tertiary-color) !important;
    font-weight: 400 !important;
    font-style: italic !important;
    font-family: var(--font-mono) !important;
}

.alert p {
    background-color: var(--warning-color);
    color: var(--background-color);
    border-radius: 8px;
    padding: 1em;

    a {
        color: var(--background-color);
        font-weight: bold;
    }
}

.label {
    font-style: italic;
    color: var(--tertiary-color) !important;
    font-weight: 600 !important;
    /* font-size: 1.5rem; */
}

.date {
    color: var(--tertiary-color);
    font-family: var(--font-mono);
    display: inline
}


.banner p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -6% -50% 0;
    color: var(--background-color);
    background-color: var(--primary-color);
    font-family: InterVariable, sans-serif;
    font-weight: bold;
    padding: 1em;
}

.metadata {
    color: var(--primary-color);
    font-family: var(--font-mono);
    line-height: 1.2 !important;
}

.metadata p {
    margin: 0;
    padding: 2px 0;

    a {
        vertical-align: middle;
    }

    i {
        font-size: 1rem;
        vertical-align: middle;
    }
}

.metadata .tags {
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 2em 0 1em 0;
    font-size: 1.5rem;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

footer span {
    display: inline;

    * {
        padding: 0 !important;
    }
}

.socials {
    line-height: 0.5rem;
}

a.linkback:hover {
    color: inherit !important;
    background-color: var(--background-color);
}

.metafields>.items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5em;
}

.blog-page {
    display: flex;
    gap: 1em;
}

.blog-page>.main-column {
    flex: 0 0 70%;
}

.container {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 2rem;
}