---
layout: _layouts/info.njk
title: Koehn Humphries
---

<p>
  Hi! Welcome to my website. My name is Koehn, and I'm a 16 year-old Highschool
  student who loves languages and K-Pop
</p>

<h2>{% phicon "broadcast", "fill" %} Latest Post</h2>
<p>
  <time>{{ collections.post[0].date.toLocaleDateString('en-us') }}</time> -
  <a href="{{ collections.post[0].url }}"
    >{{ collections.post[0].data.title }}</a
  >
</p>
